/*===== Vars styling =====*/

$bg-color: #35383f;
$bg-color2: #2b2d33;
$bg-shadow: rgba(0, 0, 0, 0.4);

$secondary: #3458c4;
$secondary2: #2c4caa;

$text-grey: #757577;
$text-grey-lighter: #b3b3b9;

$shadow: rgba(0, 0, 0, 0.6);

$s-delay: 0.4s;
$l-delay: 0.8s;
